
<table>
<% @items.each do |i| %>
<tr>
<td><%= link_to i.title, "/items/#{i.id}" %></td>
<td><%= i.created_at %></td>
<% if i.visible == false  %>
<td><%= link_to "Make visible", :controller => "admin", :action => "makevisible", :id => i.id %></td>
<td><%= link_to "Delete", "/items/destroy/#{i.id}", :method=>:delete %></td>
<td><%= link_to "Edit", "/items/#{i.id}/edit" %></td>
<% else %>
<td><%= link_to "Un visible", :controller => "admin", :action => "unvisible", :id => i.id %></td>
<td><%= link_to "Delete", "/items/destroy/#{i.id}", :method=>:delete %></td>
<td><%= link_to "Edit", "/items/#{i.id}/edit" %></td>
<% end %>
</tr>
<% end %>

</table>